#flights-row{
  margin-top: 20px;
  margin: 20px .75rem 0 .75rem;
}

.content{
  width: 70%;

}
.right-ads{
  margin-left: 10px;
  width: 28%;
  background:teal;
  color: white;
  text-align: center;
}