#site-header{
  height: $headerHeight;
  background: $headerBackgroundColor;
  color: white;
  letter-spacing: 1px;
  position: fixed;

  top: 0;
  border-bottom: 1px solid #d1d1d5;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
  z-index: 1;
  width:100%;
  .site-header-container{
    max-width: 1280px;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-left{
      height: $headerHeight;
      display: flex;
      align-items: center;
      a{
        color:white;
        text-decoration: none;
        .logo{
          height: $headerHeight;
          display: flex;
        
          align-items: center;
          img{
            top: -1px;
            position: relative;
            width: 105px;
            height: 25px;
          }
          h1{
            font-size: 2rem;
          }
        }
      }

      .category-links{
        height: $headerHeight;
        margin-left: 40px;
        
        list-style-type: none;
        li{
          display: inline-block;
          margin-right: 20px;
          a{
            color: #556b7f;
            text-decoration: none;
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: 500;
          }
        }
   
      }
    }



    .account-links{
      
      height: $headerHeight;
      position: relative;
      right: 0;
      display: flex;
      justify-content:center;
      list-style-type: none;
      float: right;
    }
    ul{
      display: flex;
      align-items: center;
      li{
  
        a{
          color: #556b7f;
          text-decoration: none;
          letter-spacing: 2px;
          font-size: 16px;
          font-weight: 500;
        }
      }
      li:not(:last-child){
          margin-right:10px;
      }
    }
  }

}

#header-hamburger-icon{
  display: none;
  outline: none;
  height: 50px;
}
.hamburger-box{
  width: 30px;

}
.hamburger--slider .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 30px;
  height: 4px;
}
@keyframes menu_sticky {
  0% {
    margin-top: -120px;
    opacity: 0;
  }

  50% {
    margin-top: -64px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}
.site-header-fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  animation-name: menu_sticky;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.header-spacer{
  height: 60px;
}