#site-header{
  height: $headerHeight;
  background: $headerBackgroundColor;
  color: white;
  letter-spacing: 1px;
  .site-header-container{
    max-width: 1280px;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-left{
      height: $headerHeight;
      display: flex;
      align-items: center;
      a{
        color:white;
        text-decoration: none;
        .logo{
          height: $headerHeight;
          display: flex;
        
          align-items: center;
          img{
            top: -1px;
            position: relative;
            width: 105px;
            height: 25px;
          }
          h1{
            font-size: 2rem;
          }
        }
      }
   
      .category-links{
        height: $headerHeight;
        margin-left: 40px;
        
        list-style-type: none;
        li{
          display: inline-block;
          margin-right: 20px;
          a{
            color: #556b7f;
            text-decoration: none;
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: 500;
          }
        }
   
      }
    }



    .account-links{
      
      height: $headerHeight;
      position: relative;
      right: 0;
      display: flex;
      justify-content:center;
      list-style-type: none;
      float: right;
    }
    ul{
      display: flex;
      align-items: center;
      li{
  
        a{
          color: #556b7f;
          text-decoration: none;
          letter-spacing: 2px;
          font-size: 16px;
          font-weight: 500;
        }
      }
      li:not(:last-child){
          margin-right:10px;
      }
    }
  }

}

#header-hamburger-icon{
  display: none;
}