@import "reset";
@import "variables";
@import "../../components/Header/header";

@import "../../components/HeroDisplay/heroDisplay";
@import "../../components/HeroDisplay/DealFinder/flightform";
@import "../../components/Footer/footer";
@import "../../components/Misc/choice-banner";
@import "../../components/MobileMenu/MobileMenu";
*, body, html {
  font-family: 'Roboto', sans-serif;
}
.row-override{
  padding: 0;
  margin: 0;
}
.col-override{
  padding: 0;
  margin: 0;
}
.isActive{
  display: block !important;
}
.isFlexActive{
  display: flex !important;
}
@media (min-width: 576px) {
  .container {
    max-width: 768px;
  }

}


@media (min-width: 768px) {
  .container {
    max-width: 992px;
  }

  #MobileMenu{
    display: none !important;
  }
}
@media (max-width: 768px) {
  //Header CSS Media Queries
  .category-links{
    display: none !important;
  }
  .account-links{
    display: none !important;
  }
 
  #header-hamburger-icon{
    display: block;
  }
  .site-footer .footer-container .footer-row1 .footer-col {
    text-align: center;
    margin-bottom: 30px;
  }

}


@media (min-width: 992px){
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 992px){
  .recommended-item {
    margin-bottom: 20px;
  }
}


@media (min-width: 1200px){
  .container {
    max-width: 1280px;
  }
}


